{% paginate blog.articles by 3 %}
    {% for article in blog.articles %}
        <div>
            {% if article.image %}
                src="{{ article.image | img_url: 'medium' }}" 
                alt="{{ article.image.alt }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="eager"
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}